{% set mysql = salt['grains.filter_by']({
    'Debian': {
        'server': 'mysql-server',
        'client': 'mysql-client',
        'python': 'python-mysqldb',
        'service': 'mysql',
        'serverconfig': '/etc/mysql/mysql.conf.d/mysqld.cnf',
        'serverconfigsource': 'salt://mysql/config/debian-mysqld.cnf',
    },
    'RedHat': {
        'server': 'mariadb-server',
        'client': 'mariadb-client',
        'python': 'MySQL-python',
        'service': 'mariadb',
        'serverconfig': '/etc/my.cnf.d/server.cnf',
        'serverconfigsource': 'salt://mysql/config/redhat-server.cnf'
    },
})%}
